asgiref==3.7.2
Django==4.2.4
django-rest-framework==0.1.0
django-rest-framework-mongoengine==3.4.1
djangorestframework==3.14.0
dnspython==2.4.2
mongoengine==0.27.0
pymongo==4.4.1
pytz==2023.3
sqlparse==0.4.4
tzdata==2023.3
Faker==19.3.1
drf-spectacular==0.26.4
requests~=2.31.0